body {
    color: #D8D8D8;
    text-decoration: none;
    font-family: "Ubuntu";
}
a {
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
}
a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1em;
    border-radius: 0px;
    background-color: #FFFFFF;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}
a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
.custom-tooltip {
    --bs-tooltip-bg: #FFFFFF99;
    --bs-tooltip-color: #000000;
    --bs-tooltip-opacity: 1;
    --bs-tooltip-padding-y: 15px;
    --bs-tooltip-padding-x: 25px;
    --bs-tooltip-margin: 0px;
    border: 1px solid #00000025;
}
.hr {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #FFFFFF;
    margin: 0.5em 0.5em;
  }
.hr:before, .hr:after {
    content: "";
    flex-grow: 1;
    background: #D8D8D8;
    height: 0.15em;
    line-height: 0.5em;
    margin: 0.5em 0.5em;
}
.card-text{
    text-align: justify;
}
.card-footer, .card-header{
    background-color: #0F0E0E25;
}
.carousel-item{
    transition: transform 0.5s ease-in-out !important;
}
.PagesSlides {
    display: flex;
    height: 75vh;
    align-items: center;
    justify-content: center;
}
.PagesSlidesText {
    align-items: center;
    justify-content: center;
}


/*
PagesSlides





    

    .cardd {
       
    }
    
    .

    
    
    .carousel-caption {
        position: absolute;
        bottom: 25px;
    }
    .carousel-item {
        transition: transform 0.5s ease-in-out;
    }
    .card-text{
        text-align: justify;
        text-justify: inter-word;
        line-height: 1.5;
    }
    
    .toggleWrapper {
      position: absolute;
      top: 4.5%;
      left: 95%;
      overflow: hidden;
      padding: 0 50px;
      transform: translate3d(-50%, -50%, 0);
      color: white;
    }

    .toggleWrapper input {
      position: absolute;
      left: -99em;
    }

    .toggle {
      cursor: pointer;
      display: inline-block;
      position: relative;
      width: 100px;
      height: 50px;
      background-color: #83d8ff;
      border-radius: 84px;
      transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }



.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 2.5px;
  left: -20px;
  width: 45px;
  height: 45px;
  background-color: #FFE17B;
  border-radius: 50px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

.toggle__handler .crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}

.toggle__handler .crater--1 {
  top: 18px;
  left: 10px;
  width: 4px;
  height: 4px;
}

.toggle__handler .crater--2 {
  top: 28px;
  left: 22px;
  width: 6px;
  height: 6px;
}

.toggle__handler .crater--3 {
  top: 10px;
  left: 25px;
  width: 8px;
  height: 8px;
}

.star {
  position: absolute;
  background-color: #fff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--2 {
  top: 18px;
  left: 28px;
  z-index: 1;
  width: 30px;
  height: 3px;
}

.star--3 {
  top: 27px;
  left: 40px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--4, .star--5, .star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 16px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

.star--5 {
  top: 32px;
  left: 17px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px, 0, 0);
}

.star--6 {
  top: 36px;
  left: 28px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

input:checked + .toggle {
  background-color: #749dd6;
}

input:checked + .toggle:before {
  color: #749ed7;
}

input:checked + .toggle:after {
  color: #fff;
}

input:checked + .toggle .toggle__handler {
  background-color: #ffe5b5;
  transform: translate3d(40px, 0, 0) rotate(0);
}

input:checked + .toggle .toggle__handler .crater {
  opacity: 1;
}

input:checked + .toggle .star--1 {
  width: 2px;
  height: 2px;
}

input:checked + .toggle .star--2 {
  width: 4px;
  height: 4px;
  transform: translate3d(-5px, 0, 0);
}

input:checked + .toggle .star--3 {
  width: 2px;
  height: 2px;
  transform: translate3d(-7px, 0, 0);
}

input:checked + .toggle .star--4, input:checked + .toggle .star--5, input:checked + .toggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

input:checked + .toggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.uiverse {
  position: relative;
  background: #ffffff;
  color: #000;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 15px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 5px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 5px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.uiverse:hover .tooltip {
  top: -60px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

svg:hover span, svg:hover .tooltip {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.uiverse:hover,
.uiverse:hover .tooltip,
.uiverse:hover .tooltip::before {
  background: linear-gradient(320deg, rgb(3, 77, 146), rgb(0, 60, 255));
  color: #ffffff;
}
*/